

<div class="container">
	
<%=form_for([post, @reply], remote: true)   do |form| %>
<%= form.text_field :name, placeholder: "Reply name" %>
 <%= form.rich_text_area :body %>
 <%= form.submit "submit" ,class:"btn btn-primary"%>
 <% end %>
</div>