   


<div class="container">
	<% @model.each do |post| %>
	<div class="row justify-content-center my-3">
		<div class="col-10 col-lg-6">
			<div class="card">
				<%= link_to post_path(post) do %>
				<div class="card-header">

					<%= post.title.capitalize %>
					<%= post.body %>
				</div>
				<% end %>
			     <%= link_to "reply", new_reply_path %>
			</div>	

		</div>	
	</div>
	<% end %>
</div>
