   
<%= link_to "create a post", new_post_path, class: "btn btn-outline-primary" %>

<div class="container">
	<% @model.each do |post| %>
	<div class="row justify-content-center my-3">
		<div class="col-10 col-lg-6">
			<div class="card">
	
				<div class="card-header" data-toggle="tooltip" data-placement="bottom" data-html="true" title="open replies">

					<%=link_to post.title.capitalize, post_path(post) %>
					<%= post.body %>
				</div>
			</div>	

		</div>	

	</div>

	<% end %>
</div>
