   
<%= link_to "create a post", new_post_path, class: "btn btn-info" %>

<div class="container">
	<% @model.each do |post| %>
	<div class="row justify-content-center my-3">
		<div class="col-10 col-lg-6">
			<div class="card">
				<div class="card-header">

					<%=link_to post.title.capitalize, post_path(post) %>
					<%= post.body %>
				</div>
				
			</div>	

		</div>	

	</div>
	<% end %>
</div>
